{#
 # @file
 # @version 0.1
 # @copyright 2018 CN-Consult GmbH
 # @author Yannick Lapp <yannick.lapp@cn-consult.eu>
 #}

{#
 # Creates the window configuration divs with brief information (position and tab urls).
 #
 # @param int _windowIndex The window index in the list of windows
 # @param Object _window The window configuration
 #}
{% macro generateWindowConfigurationDiv(_windowIndex, _windowStatus) %}
    <div class="window-configuration" id="window-configuration-{{ _windowIndex }}">

        <h2>Fenster {{ _windowIndex + 1 }}</h2>

        <h3>Position</h3>
        <table>
            <tr>
                <td>Start Position</td>
                <td>({{ _windowStatus.configuration.position.x }}|{{ _windowStatus.configuration.position.y }})</td>
            </tr>
            <tr>
                <td>Breite</td>
                <td>{{ _windowStatus.configuration.position.width }}</td>
            </tr>
            <tr>
                <td>Höhe</td>
                <td>{{ _windowStatus.configuration.position.height }}</td>
            </tr>
        </table>

        <h3>Tabs</h3>
        <table>
            {% for pageIndex in range(0, _windowStatus.configuration.pages.length) %}
                {% set page = _windowStatus.configuration.pages[pageIndex] %}
                <tr>
                    <td>{{ pageIndex + 1}}: {{ page.url }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Komponenten</h3>
        <table class="components">
            <tr>
                <td>Tab-Umschalt Schleife</td>
                <td>
                    <p id="tabSwitchLoopState"
                       class="circle {% if (_windowStatus.isTabSwitchLoopActive) %}greenCircle{% else %}redCircle{% endif %}">
                    </p>
                </td>
            </tr>
        </table>
    </div>
{% endmacro %}
