/**
 * @file
 * @version 0.1
 * @copyright 2019 CN-Consult GmbH
 * @author Yannick Lapp <yannick.lapp@cn-consult.eu>
 */

body {
    margin: 0;
    padding: 0;
}
div#show-text-container {
    padding: 0;
    margin: 0;
}
