{#
 # @file
 # @version 0.1
 # @copyright 2018 CN-Consult GmbH
 # @author Yannick Lapp <yannick.lapp@cn-consult.eu>
 #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard Konfiguration - {{ dashboardName }}</title>

        {% block externalLibraries %}{% endblock %}
        {% block customLibraries %}{% endblock %}

    </head>
    <body>
        <header>
            <h1>Dashboard: {{ dashboardName }}</h1>
        </header>

        {% block content %}{% endblock %}

        <footer>
            <p>Pavo {{ pavoVersionIdentifier }} - Copyright &#169 2018-2019 CN-Consult GmbH</p>
        </footer>
    </body>
</html>
