{#
 # @file
 # @version 0.1
 # @copyright 2018 CN-Consult GmbH
 # @author Yannick Lapp <yannick.lapp@cn-consult.eu>
 #}

{% from "macros/index/windowStatus.njk" import generateWindowStatusDiv %}

{% extends "base.njk" %}

{% block externalLibraries %}
    {# jQuery #}
    <script src="jquery/jquery.min.js"></script>

    {# Font awesome icons (@see: https://fontawesome.com/ #}
    <link rel="stylesheet" href="font-awesome/css/all.min.css">

    {# Bootstrap #}
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>

    {# jQuery UI #}
    <link rel="stylesheet" href="jquery-ui/jquery-ui.min.css">
    <script src="jquery-ui/jquery-ui.min.js"></script>

    {# socket.io #}
    <script src="socket.io/socket.io.js"></script>

    {# JSON Editor #}
    <script src="json-editor/jsoneditor.min.js"></script>
{% endblock %}

{% block customLibraries %}
    {# Custom scripts#}
    <script src="javascript/index/TimeProgressBar.js"></script>
    <script src="javascript/index/JsonEditorDialog.js"></script>
    <script src="javascript/index.js"></script>

    {# Custom styles #}
    <link rel="stylesheet" href="css/index.css">
{% endblock %}

{% block content %}

    <main>

        {# Container for window controls and status #}
        <div id="window-overview">

            <section id="windows-status">

                <h2>Fenster Steuerung</h2>

                {# Create div containers to show the window status of all windows #}
                {% for windowIndex in range(0, windowsStatus.length) %}
                    {{ generateWindowStatusDiv(windowIndex, windowsStatus[windowIndex]) }}
                {%  endfor %}
            </section>

        </div>

        <div id="pavo-overview">

            <section id="pavo-configuration-edit">

                <h2>Administration</h2>

                <div id="configuration-buttons" class="whiteRoundedRectangle">
                    <button class="btn btn-primary" id="edit-pavo-config">
                        <i class="fas fa-pen"></i> Pavo Konfiguration bearbeiten
                    </button>
                </div>
            </section>

            <div id="dialog-json-editor" title="Konfiguration bearbeiten">
                <div id="json-editor"></div>
            </div>
            <div id="dialog-confirm-configuration-save" title="Konfiguration speichern?">
                <p><i class="fas fa-exclamation-triangle"></i> Die aktuelle Konfiguration wird überschrieben. Fortfahren?</p>
                <p><i class="fas fa-info-circle"></i> Die neue Konfiguration wird erst beim nächsten Neustart der Anwendung übernommen</p>
            </div>

        </div>

    </main>

{% endblock %}
